<div class="categories-preview">
    <div class="sec-title-wrapper">
        <h2 class="section-title">Categorías</h2>
    </div>
    <div class="cat-box-container">
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
        <div class="categorie-box"></div>
    </div>
</div>