<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
        <title>Sign In</title>
        <script src="/javascripts/login.js"></script>
</head>

<body>

    <div class="SignIn-container">

        <div class="SignIn-form">
            <a class="title" href="/">Ecommerce</a>
            <h2>Sign In</h2>
            <form action="/users/login" method="POST">
                <label for="email" class="label-email">Email</label>
                <br>
                <input type="email" name="email" class="email" value="" required/>
                <br>
                <label for="password" class="label-password">Password</label>
                <br>
                <input type="password" name="password" class="password" value="" required/>
                <br>
                <button type="submit">Sign In</button>
            </form>

            <a href="/users/register">Don't have an account? Join us</a>

        </div>
    </div>

</body>

</html>