<!DOCTYPE html>
<html lang="en">

<head>
    <%- import ./partials/head %>
        <title>Verify Email</title>
</head>

<body>
    <div class="verify-email">
        <h2>Check Your Inbox</h2>
        <p>But clicking this button will send you a verification email. Please check your inbox and click on the link sent to finish the verifcation process.</p>
        <form action="" method="post" class="verify-email">
            <button type="submit">Send Email</button>
        </form>
    </div>
</body>

</html>